.navBar {
  background-color: rgb(81, 81, 240);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}

.navBar-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navBar-btn p {
  text-align: center;
  margin: 0px;
}